<div class="total-wrapper">
  <span id="closeOut" (click)="closeWidget()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </span>
  <div *ngIf="!getFormSubmitted()">
    <p>Was this information helpful?</p>
    <div>
      <div class="radio-button">
        <sky-radio name="radiotest" [(ngModel)]="parentType" (click)="sendHeightToSpa()" value="positive">
          <sky-radio-label>Yes</sky-radio-label>
        </sky-radio>
      </div>
      <div class="radio-button">
        <sky-radio name="radiotest" [(ngModel)]="parentType" (click)="sendHeightToSpa()" value="negative">
          <sky-radio-label>No</sky-radio-label>
        </sky-radio>
      </div>
    </div>
    <feedback-form [(feedbackType)]="parentType">
    </feedback-form>
  </div>
  <div *ngIf="getFormSubmitted()">
    <p>
      Thank you for submitting your feedback!
    </p>
  </div>
</div>
